#misc
.env

src/javascript/node_modules/
images/barfusserkirche/barfusserkirche1.jpg
images/barfusserkirche/barfusserkirche2.jpg
images/barfusserkirche/barfusserkirche3.jpg
images/bankverein/bankverein1.jpg
images/bankverein/bankverein2.jpg